<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="_______">
	<meta charset="utf-8"/>
	<!-- External Files -->
	<link rel="stylesheet" href="style.css">
	<script src='script.js'></script>
	<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="https://www.taylorcalderone.com/Images/Favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="https://www.taylorcalderone.com/Images/Favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="https://www.taylorcalderone.com/Images/Favicons/favicon-16x16.png">
		<link rel="manifest" href="https://www.taylorcalderone.com/Images/Favicons/site.webmanifest">
		<link rel="mask-icon" href="https://www.taylorcalderone.com/Images/Favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="https://www.taylorcalderone.com/Images/Favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="msapplication-config" content="https://www.taylorcalderone.com/Images/Favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	<!-- These two lines polyfill CSS variables in IE -->
		<script src="https://unpkg.com/css-vars-ponyfill@1"></script>
		<script>cssVars()</script>
</head>




<body onload='initialize()'>
	<div id='textDisplay'></div>
	<br>
	<div id='fpsDisplay'></div>
</body>